{embed="site/header" curpage="payable"}
<style>
	.date_paid select{
		display: none;
	}
</style>
{exp:channel:form channel="accounts_payable" return="{segment_1}" entry_id="{segment_3}"}
	<div>
		<label for="title">Title</label>
		<input type="text" name="title" value="{title}">
	</div>

	<div class="field_po">
		<label for="{label:purchase_order}">{label:purchase_order}</label>
		{field:purchase_order}
	</div>

	<div>
		<label for="{label:amount_payable}">{label:amount_payable}</label>
		{field:amount_payable}
	</div>

	<div class="date_paid">
		<label for="{label:date_paid}">{label:date_paid}</label>
		{field:date_paid}
	</div>

	<div>
		<label for="{label:payable_status}">{label:payable_status}</label>
		{field:payable_status}
	</div>

	<input type="submit" value="Submit" class="btn btn-danger">	
{/exp:channel:form}

<script>
	$('.field_po select').on("change", function(){
		po = $(".field_po select :selected").text();

		$('input[name="title"]').attr('value', 'AP-'+po);
	});
</script>

{embed="site/footer"}