{embed ='site/header' curpage="reports"}
<link rel="stylesheet" href="{path='reports/style'}">

<section>

<h1 class="pagetitle">Inventory</h1>

<table class="tbl_display" border="1">
	<thead>
		<th class="alignLeft">Product Name</th>
		<th class="alignLeft">&nbsp;</th>
	</thead>
	<tbody>
		
{exp:channel:entries channel="stocks" orderby="title" sort="asc" limit="10" paginate="both"}
	<tr>
		<td class="alignLeft">{title}</td>
		<td class="alignCenter widthMedium">
			<a href="{path='reports/inventory-product/{entry_id}'}">
				do Inventory <i class="fa fa-book"></i></a>
		</td>
	</tr>
	{paginate}
        <tr>
        	<td class="alignCenter">Page {current_page} of {total_pages} pages {pagination_links}</td>
        </tr>
    {/paginate}
{/exp:channel:entries}

	</tbody>
</table>

<hr>
<h2>Recent Inventories</h2>

<table class="tbl_display" border="1">
	<thead>
		<th class="alignLeft">Inventory Title</th>
	</thead>
	<tbody>
		
{exp:channel:entries channel="inventory" orderby="date" sort="desc" limit="10" paginate="both"}
		<tr>
			<td class="alignLeft">
				<a href="{path='reports/inventory-view/{entry_id}'}">{title}</a>
			</td>
		</tr>
		{paginate}
	        <tr>
	        	<td class="alignCenter">Page {current_page} of {total_pages} pages {pagination_links}</td>
	        </tr>
	    {/paginate}
{/exp:channel:entries}

	</tbody>
</table>
</section>

{embed ='site/footer'}