{embed ='site/header' curpage="reports"}

<section ng-app="">
	
{exp:channel:form channel="inventory"}
	<div>
		<label for="title">Title</label>
		<input type="text" name="title" ng-model='title'>
		<input type="hidden" name="url_title" value="{{'inventory-'+title}}">
	</div>


	<div id="Inventory_Report">{field:inventory_report}</div>

	<br>
	<input type="submit" value="Save Inventory" class="btn btn-danger">
	<a href="#ViewPrintable" 
	onclick="goPrintable()"
	class="btn btn-warning preventDefault">View Printable Version</a>
{/exp:channel:form}

<script>
	var report = '';

	$.ajax({
		url: "{path='reports/inventory-plaintext/{segment_3}'}"
	})
	.done(function(result){
		// alert(result);
		report = result;
		$('#Inventory_Report .WysiHat-editor').html( result );
	});

	goPrintable = function(){
		var printable = window.open("{path='reports/inventory-printable'}", "_blank", "fullscreen=yes");
		var html = $('#Inventory_Report .WysiHat-editor').html();

		printable.document.write(html);

		return false;
	};

	$('.preventDefault').click(function(event){
		event.preventDefault();
	});
</script>

</section>



{embed ='site/footer'}