{embed='site/header' curpage="return_to_supplier"}
<script src="{path='return_to_supplier/data-del'}"></script>
<script>
  var delbuttonOff = "fa-times-circle";
  var delbuttonOn  = "fa-times-circle-o";
</script>

<section class="cellpad" ng-app="rs">

{if logged_in}
<a class="btn btn-new" href="{path='return_to_supplier/create'}">Add New</a>
{/if}


<table border='1' class="tbl_display">
  <thead>
    <tr>
      <th class="alignLeft">Referrence#</th>
      <th class="alignRight">Supplier</th>
      <th class="alignCenter">Date Filed</th>
      <th class="widthSmall"></th>
    </tr>
  </thead>
  <tbody ng-controller="rsController as ctrl">
    {exp:channel:entries channel="return_to_supplier" dynamic="no" orderby="date" sort="desc" limit="20" paginate="bottom"}
    <tr id="row-{entry_id}">
      <td class="alignLeft"><a href="{path='return_to_supplier/update/{entry_id}'}">{title}</a></td>
      {ret_po_num}
      <td class="alignRight">{ret_po_num:po_supplier:title}</td>
      {/ret_po_num}
      <td class="alignCenter">{entry_date format="%M. %d, %Y"}</td>
      
      <td class="alignCenter widthSmall">
        <a href="#"> <i class="fa fa-times-circle remove-icon"
                        ng-mouseover="ctrl.buttonOn('row-{entry_id}')"
                        ng-mouseout="ctrl.buttonOff('row-{entry_id}')"
                        ng-click="ctrl.removeData('{entry_id}')"
                      ></i></a>
      </td>
    </tr>
    {paginate}
        <tr>
          <td colspan="8" class="alignCenter">Page {current_page} of {total_pages} pages {pagination_links}</td>
        </tr>
    {/paginate}
    {/exp:channel:entries}
  </tbody>
  <tfoot class="note">
    <tr>
      <td colspan='7'>
        Data deleted here are only set to trash (status = Closed).<br>
        Go to admin panel to recover/delete permanently those items.
      </td>
    </tr>
  </tfoot>
</table>

</section>
{embed='site/footer'}