{embed="site/header"}
<link rel="stylesheet" href="{path='purchase_order/style'}" media="all">
<script src="{path='purchase_order/script'}"></script>
<script>
	jQuery('.WysiHat-editor').ready(function(){
		init_list();
	});
</script>
<?php 
$noprod = true;
echo '<script>var products = [];</script>';

if(isset($_POST['final_critical_products'])):
	$noprod = false;
	$final = $_POST['final_critical_products'];
	$final = json_decode($final);


	// print_r($final[0]->product_code);
	
	foreach ($final as $product) {
		// print_r($product);
		// echo "<br>";

		echo 	'<script>'.
					'product = {'. 
						'entry_id			: '.$product->entry_id.','. 
						'product_name		: "'.$product->product_name.'",'.
						'price				: "'.$product->company_price.'",'.
						'};'.
					'products.push(product);'.
				'</script>';
	}
endif;
?>


<section ng-app="po" id="PO">


{if logged_in}

{exp:channel:form channel="purchase_order" return="{segment_1}"}
<div>

<h1 class="pagetitle cellpad">New Purchase Order</h1>

<div class="row">
	<div class="span12"><div class="cellpad">
		<h3>Company Name</h3>
		<div>Address</div>
	</div></div>
</div>

<div class="row"> 	
		<div class="span4"><div class="cellpad">Purchase from:<br>{field:delivered_to}</div></div>
		<div class="span4"><div class="cellpad">Deliver To:<br>{field:ordered_by}</div></div>
		<div class="span4"><div class="cellpad">
			<label for="Name">PO#</label>
			<input type="text" name="po_num" ng-model="po_num">
			<input type="hidden" name="title" value="{{+po_num}}">
			<input type="hidden" name="url_title" value="{{'po_'+po_num}}">
			<br>
			<label for="Date">Date</label> 
			<input type="text" name="entry_date" value="{entry_date}" maxlength="23" size="25">
		</div></div>		
</div>
<hr>
<div class="row">
	<div class="span12"><div class="cellpadd">
		<?php //if($noprod): ?>
		{embed="purchase_order/popup-main"}
		<div class="alignRight">
			<button class="btn preventDefault" onclick="togglePopup()">Add Product</button>
		</div>
		<?php //endif; ?>
		<div class="poList">
			<script>var po_product_list = [], counter = 0;</script>
			{field:po_product_list}
		</div>
	</div></div>
</div>



<hr>
<div class="row">
	<div class="span12"><div class="cellpad floatRight">
		
		<div>
			<label for="Subtotal">Subtotal</label>
			<input type="text" name="po_subtotal" class="alignRight" value="0" readonly>
		</div>
		<div>
			<label for="Tax Rate">Tax Rate <small>({instructions:po_tax_rate})</small> </label>
			<input type="text" name="po_tax_rate" onkeyup="set_tax_amount(this)" class="alignRight" value="0">
		</div>
		<div>
			<label for="Tax Amount">Tax Amount</label>
			<input type="text" name="po_tax_amount" class="alignRight" value="0" readonly>
		</div>
		<div>
			<label for="Total Amount">Total Amount</label>
			<input type="text" name="po_total_amount" class="alignRight" value="0" readonly>
		</div>

	</div></div>
	<!-- col1 -->
</div>
<!-- end of 2nd block -->

	<hr>
	<div class="cellpad">
		
		<p>
			PO status <br>
			{field:po_status}
		</p>
		
		<input type="submit" value="Submit" class="btn btn-danger">	
	</div>

</div>
{/exp:channel:form}


{if:else}
	{embed='site/not_logged'}
{/if}

</section>


<script>
	jQuery('.preventDefault').bind("click", function(event){
		event.preventDefault();
	});
	jQuery('.WysiHat-editor').ready(function(){
		po_list = "";
		for(var i=0; i<products.length; i++){
			po_list += 	'<div class="listrow" id="row-'+products[i].entry_id+'"' +
						'style="'+ style.body.borderBottom+'">'+
							'<b class="entry_id" style="display: none;">'+products[i].entry_id+'</b>'+
							'<b class="product_name" style="'+ style.common.cellL +'">'+products[i].product_name+'</b>'+
							'<b class="qty" style="'+ style.common.cellS +'">'+
							'<input type="text" name="qty" onkeyup="set_amount(this)" value="0" style="'+ style.common.cellXS +'" />' +
							'</b>'+
							'<b class="price" style="'+ style.common.cellM + style.common.alignRight +'">'+products[i].price+'</b>'+
							'<b class="amount" style="'+ style.common.cellM + style.common.alignRight +'">0.00</b>'+
							'<b class="remove_product" style="'+ style.common.cellXS + style.common.alignCenter +'">'+
								'<a href="#"><i class="fa fa-times-circle"' +
									'onmouseover="shiftClasses(this)" onmouseout="shiftClasses(this)"'+
									'onclick="remove_product(\'#row-'+products[i].entry_id+'\')"' +
									'></i>' +
								'</a>' +
							'</b>' +
						'</div>';
		}
		$(".WysiHat-editor .bodylist").append( po_list );
	});
</script>


{embed="site/footer"}