<html>
	<head>
		<title>PO: Product Update</title>
	</head>
	<body style="font-family: Verdana; font-size: 1.1em;"
		 onload="setTimeout(function(){ window.close(); }, 3000)"	>


{exp:channel:entries channel="product" entry_id="{segment_3}"}

this is it:  {segment_4}
	<?php 
	$ordered = floatval(str_replace(',', '', '{segment_4}')); //qty

	$qty = ( $ordered == null)? 0 : $ordered;
	echo "<br/>new : ". $qty;

	// if($qty > 0):
		$new_stock = {in_stock} + $qty;
		ee()->db->update(
		    'channel_data',
		    array(
		    	'field_id_9'  	=> $new_stock,
		        'field_id_42'   => $_GET['order_status']
		    ),
		    array(
		        'entry_id'   => {segment_3}, 
		        'channel_id' => 4 //product
		    )
		);
	// endif;
	 ?>

	<div>Order is placed!</div>
{/exp:channel:entries}

	</body>
</html>