{embed="site/header"}
<script src="{path='purchase_order/script'}"></script>

<section ng-app="po">

{if logged_in}

{exp:channel:form channel="purchase_order" return="{segment_1}" entry_id="{segment_3}"}
<div>

<h1 class="pagetitle cellpad">New Purchase Order</h1>

<div class="row">
	<div class="span12"><div class="cellpad">
		<div ng-init="po_num={po_num}">
			<label for="Name">PO#</label>
			<input type="text" name="po_num" ng-model="po_num" value="{po_num}">
			<input type="hidden" name="title" value="{{+po_num}}">
			<input type="hidden" name="url_title" value="{{'po_'+po_num}}">
		</div>
		<div>
			<label for="Date">Date</label> 
			<input type="text" name="entry_date" value="{entry_date}" maxlength="23" size="25">
		</div>
		<div>
			<div class="poList">{field:po_product_list}</div>
		</div>
	</div></div>
	<!-- col1 -->
</div>
<!--  end of first block -->

<hr>
<div class="row">
	<div class="span12"><div class="cellpad floatRight">
		
		<div>
			<label for="Subtotal">Subtotal</label>
			<input type="text" name="po_subtotal" class="alignRight" value="{po_subtotal}">
		</div>
		<div>
			<label for="Tax Rate">Tax Rate <small>({instructions:po_tax_rate})</small> </label>
			<input type="text" name="po_tax_rate" onkeyup="set_tax_amount(this)" class="alignRight" value="{po_tax_rate}">
		</div>
		<div>
			<label for="Tax Amount">Tax Amount</label>
			<input type="text" name="po_tax_amount" class="alignRight" value="{po_tax_amount}">
		</div>
		<div>
			<label for="Total Amount">Total Amount</label>
			<input type="text" name="po_total_amount" class="alignRight" value="{po_total_amount}">
		</div>

	</div></div>
	<!-- col1 -->
</div>
<!-- end of 2nd block -->

	<hr>
	<div class="cellpad">
		
		<p>
			PO status <br>
			{field:po_status}
		</p>
		

		

		<input type="submit" value="Submit" class="btn btn-danger">	
	</div>

</div>
{/exp:channel:form}


{if:else}
	{embed='site/not_logged'}
{/if}

</section>
{embed="site/footer"}