{embed="site/header"}

<section ng-app>

{if logged_in}

{exp:channel:form channel="invoice" return="{segment_1}"}
<div>
	<h1 class="pagetitle cellpad">New Invoice</h1>
	
	<div>
		<label for="Type">Type</label>
		{field:invoice_type}
	</div>

	<div>
		<label for="Name">Invoice Number</label>
		<input type="text" name="title" ng-model="urlTitle">
		<input type="hidden" name="url_title" value="{{'inv_'+urlTitle}}">
	</div>

	<div>
		<label for="Customer">Customer</label>
		{field:customer}
	</div>
	<div class="cellpad">
		{field:invoice_product_list}
	</div>

<hr>

<div class="cellpad">
	
	<p>Date <br> <input type="text" name="entry_date" value="{entry_date}" maxlength="23" size="25"></p>

	{status_menu}
	<p>Status<br>
		<select name="status">
			{select_options}
		</select>
	</p>
	{/status_menu}

	<input type="submit" value="Submit" class="btn btn-danger">

</div>

</div>
{/exp:channel:form}


{if:else}
	{embed='site/not_logged'}
{/if}

</section>
{embed="site/footer"}