{embed ='site/header' curpage="records"}
<link rel="stylesheet" href="{path='invoice/style'}" />
<script src="{path='invoice/data-del'}"></script>
<script>
  var delbuttonOff = "fa-times-circle";
  var delbuttonOn  = "fa-times-circle-o";
</script>

<section id="IndexInvoice" class="cellpad" ng-app="invoice">
	
{if logged_in}
<a class="btn btn-new" href="{path='invoice/create'}">Add New Invoice</a>
{/if}

<table border='1' class="tbl_display">
  <thead>
    <tr>
      <th class="alignLeft">Invoice #</th>
      <th class="alignLeft">Type</th>
      <th class="alignLeft">Customer</th>
      <th class="alignLeft">Date</th>
      <th class="alignRight">Total Amount</th>
      <th class="widthSmall"></th>
    </tr>
  </thead>
  <tbody ng-controller="invoiceController as ctrl">
    {exp:channel:entries channel="invoice" orderby="date" sort="desc"}
    <tr id="row-{entry_id}">
      <td class="alignLeft"><a href="{path='invoice/update/{entry_id}'}">{title}</a></td>
      <td class="alignLeft">{invoice_type}</td>
      <td class="alignLeft">{customer:title}</td>
      <td class="alignLeft">{entry_date format="%M. %d, %Y"}</td>
      <td class="alignRight">
        {if invoice_total_amount == ''} 
          {{0 | number:2 }} 
        {if:else} 
          {{ ('{invoice_total_amount}' | num ) | number:2}}
        {/if}
      </td>
      <td class="alignCenter widthSmall">
        <a href="#"> <i class="fa fa-times-circle remove-icon"
                        ng-mouseover="ctrl.buttonOn('row-{entry_id}')"
                        ng-mouseout="ctrl.buttonOff('row-{entry_id}')"
                        ng-click="ctrl.removeData('{entry_id}')"
                      ></i></a>
        <a href="#" class="preventDefault" title="Add Partial Payment"
            onclick="window.open('{path='receivable/create/{entry_id}'}', '_blank', 'fullscreen=yes')"
        ><i class="fa fa-money partial-icon"></i></a>
      </td>
    </tr>
    {/exp:channel:entries}
  </tbody>
  <tfoot class="note">
    <tr>
      <td colspan='6'>
        Data deleted here are only set to trash (status = Closed).<br>
        Go to admin panel to recover/delete permanently those items.
      </td>
    </tr>
  </tfoot>
</table>

</section>

<script>
  jQuery('.preventDefault').bind("click", function(event){
    event.preventDefault();
  });
</script>

{embed ='site/footer'}