<html>
	<head>
		<title>INVOICE: Product Update</title>
	</head>
	<body style="font-family: Verdana; font-size: 1.1em;"
		 onload="setTimeout(function(){ window.close(); }, 3000)"	>
{exp:channel:entries channel="product" entry_id="{segment_3}"}

	<?php 
	$new_stock = {in_stock} - {segment_4};

	ee()->db->update(
	    'channel_data',
	    array(
	        'field_id_9'   => $new_stock,
	        'field_id_42'   => 'Not Ordered'
	    ),
	    array(
	        'entry_id'   => {segment_3}, 
	        'channel_id' => 4 //product
	    )
	);
	 ?>
	<div>Product Name: {title}</div>
	<div>In Stock: <?php echo $new_stock ?></div>
	<div>Critical Level: {critical_level}</div>
{/exp:channel:entries}

	</body>
</html>