<html>
<head>
	<title>ACCESS ERROR</title>

	<style>

		html, body{
			margin: 0;
			padding: 0;
			background: #efefef;
			font-family: Verdana;
		}
		body{
			background: url({path='custom/img/white_carbonfiber.png'});
		}
		.alignCenter{
			text-align: center;
			padding-top: 10%;

			min-height: 100%;
		}

		h3, h2{
			margin: 0 0 10px;
			padding: 0;
			font-weight: 100;
		}

		a:link, a:visited{
			color: #f00;
			text-decoration: none;
		}
		a:hover{
			color: #300;
		}
	</style>
</head>
<body>

	<div class="alignCenter">
		<h3>
			YOU ARE NOT ALLOWED TO ACCESS THIS SITE.
		</h3>

		<h2>
			Please <a href="{path='admin.php?/cp/login'}">Login</a> to continue...
		</h2>
	</div>

</body>
</html>