<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{embed:curpage}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
		<script type="text/javascript" src="{path='custom/js/jquery.min.js'}"></script>
        <script type="text/javascript" src="{path='custom/js/angular.min.js'}"></script>

		<link rel="stylesheet" type="text/css" href="{path='custom/css/bootstrap.min.css'}" media="all">

        <link rel="stylesheet" type="text/css" href="{stylesheet='site/style'}" media="all">
        <link rel="stylesheet" href="{path='custom/css/font-awesome.min.css'}" media="all">
    </head>
    
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <?php $ctr = 0; ?>
        <!-- category="not 10"  - meaning the product is not on "ORDERED" category 
        and it neeeds to be on PO first -->
        {exp:channel:entries channel="stocks" category_group="not 3" dynamic="no"}
            <?php if( {in_stock} <= {critical_level} || {store_in_stock} <= {store_critical_level}){ 
              $ctr++;
            } ?> 
        {/exp:channel:entries}
        <?php if( $ctr > 0 ): ?>
            
            <body class="on-alert" onload="self">

            <div class="alertmsg">
                <i class="fa fa-exclamation-triangle"></i> 
                Critical Level Products : <?php echo $ctr; ?> items
                <a class="btn" href="{path='critical_level'}">more details &raquo;</a>
            </div>
        <?php else: ?>
            <body class="off-alert" onload="self">
        <?php endif; ?>

        
		<header>
        <div class="alignCenter">

        <div>
            <div id="sitelogo">
                <a href="{path='site_index'}">
                    <img src="{path='custom/img/images/logo.png'}" width="190" height="156" alt="">
                </a>
            </div>
            
            
            <nav>
                    <div class="big">
                        <a href="{site_url}" class="tab--home">
                            <img src="{path='custom/img/images/footer-logo.png'}" alt="Inventory Management System(IMS)">
                        </a>
                    </div>
                {if member_group != '7'}
                    <div class="big">
                        <a class="tab--warehouse" href="{path='warehouse/index'}">
                            <span class="icon"><i class="fa fa-home"></i></span>
                            <span class="word">Warehouse<br/> Management</span>
                        </a>
                    </div>
                    <div class="big">
                        <a class="tab--stocks" href="{path='stocks'}">
                            <span class="icon"><i class="fa fa-shopping-cart"></i></span>
                            <span class="word">Stock<br/> Management</span>
                        </a>
                    </div>
                    
                    <div class="small">
                        <div class="tab--po">
                            <a href="{path='purchase_order'}">
                                <span class="icon"><i class="fa fa-file-text"></i></span>
                                <span class="word">Purchase<br/> Order</span>
                            </a>
                        </div>
                        <div class="tab--payable">
                            <a href="{path='payable'}">
                                <span class="icon"><i class="fa fa-money"></i></span>
                                <span class="word">Accounts<br/> Payable</span>
                            </a>
                        </div>
                    </div>

                    <div class="big">
                        <a class="tab--price_code" href="{path='price_code'}">
                            <span class="icon"><i class="fa fa-barcode"></i></span>
                            <span class="word lhmid">Price Coding</span>
                        </a>
                    </div>
                {/if}
                
                <div class=" {if member_group == '7'}  big {if:else} small {/if}">
                    {if member_group == '7'}
                        <a class="tab--encoding" href="{path='invoice/index'}">
                            <span class="icon"><i class="fa fa-file-text"></i></span>
                            <span class="word">Sales<br/> Encoding</span>
                        </a>
                    {if:else} 
                        <div class="tab--encoding">
                            <a class="tab--encoding" href="{path='invoice/index'}">
                                <span class="icon"><i class="fa fa-file-text"></i></span>
                                <span class="word">Sales<br/> Encoding</span>
                            </a>
                        </div>
                        <div class="tab--receivable">
                            <a href="{path='receivable/index'}">
                                <span class="icon"><i class="fa fa-money"></i></span>
                                <span class="word">Accounts<br/> Receivable</span>
                            </a>
                        </div>
                    {/if}
                </div>

                {if member_group != '7'}
                    <div class="big">
                        <a class="tab--salesman" href="{path='salesman'}">
                            <span class="icon"><i class="fa fa-street-view"></i></span>
                            <span class="word lhmid">Salesman</span>
                        </a>
                    </div>
                    <div class="small">
                        <div class="tab--customer lhmid">
                            <a href="{path='customer'}">
                                <span class="icon"><i class="fa fa-user"></i></span>
                                <span class="word">Customer</span>
                            </a>
                        </div>
                        <div class="tab--supplier lhmid">
                            <a href="{path='supplier'}">
                                <span class="icon"><i class="fa fa-briefcase"></i></span>
                                <span class="word">Supplier</span>
                            </a>
                        </div>
                    </div>
                    <div class="small">
                        <div class="tab--return-customer">
                            <a href="{path='returns_from_customer'}">
                                <span class="icon"><i class="fa fa-repeat"></i></span>
                                <span class="word">Returns from <br> Customer</span>
                            </a>
                        </div>
                        <div class="tab--return-supplier">
                            <a href="{path='return_to_supplier'}">
                                <span class="icon"><i class="fa fa-reply-all"></i></span>
                                <span class="word">Return to <br> Supplier</span>
                            </a>
                        </div>
                    </div>
                    <div class="small">
                        <div class="tab--reports lhmid">
                            <a href="{path='reports'}">
                                <span class="icon"><i class="fa fa-files-o"></i></span>
                                <span class="word">Reports</span>
                            </a>
                        </div>
                        <div class="tab--printable lhmid">
                            <a href="{path='printable'}">
                                <span class="icon"><i class="fa fa-print"></i></span>
                                <span class="word">Printable</span>
                            </a>
                        </div>
                    </div>
                {/if}

                <div class="clear"></div>
            </nav>
            
        </div>
        
        <div class="clear"></div>
        </div> <!-- container -->
	
        </header>
        
        <div xclass="container">
            <div class="container-inner">
