<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
		<script type="text/javascript" src="{path='custom/js/jquery.min.js'}"></script>
        <script type="text/javascript" src="{path='custom/js/angular.min.js'}"></script>

		<link rel="stylesheet" type="text/css" href="{path='custom/css/bootstrap.min.css'}" media="all">

        <link rel="stylesheet" type="text/css" href="{stylesheet='site/style'}" media="all">
        <link rel="stylesheet" href="{path='custom/css/font-awesome.min.css'}" media="all">
    </head>
    <body onload="self">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <?php $ctr = 0; ?>
        <!-- category="not 10"  - meaning the product is not on "ORDERED" category 
        and it neeeds to be on PO first -->
        {exp:channel:entries channel="product" category_group="not 3" dynamic="no"}
            <?php if( {in_stock} <= {critical_level} ){ 
              $ctr++;
            } ?> 
        {/exp:channel:entries}
        <?php if( $ctr > 0 ): ?>
            
            <body class="on-alert">

            <div class="alertmsg">
                <i class="fa fa-exclamation-triangle"></i> 
                Critical Level Products : <?php echo $ctr; ?> items
                <a class="btn" href="{path='critical_level'}">more details &raquo;</a>
            </div>
        <?php else: ?>
            <body class="off-alert">
        <?php endif; ?>

        
		<header>
        <div class="alignCenter">

        <div>
            <div id="sitelogo">
                <a href="{path='site_index'}">
                    <img src="{path='custom/img/images/logo.png'}" width="190" height="156" alt="">
                </a>
            </div>
            
            
            <nav>
                <div class="big">
                    <a class="tab--warehouse" href="{path='warehouse/index'}">Warehouse Management</a>
                </div>
                
                <div class="small">
                    <a class="tab--po" href="{path='purchase_order'}">Purchase<br/> Order</a>
                    <a class="tab--stocks" href="{path='stocks'}">Stock<br/> Management</a>
                </div>
                
                <div class="big">
                    <a class="tab--encoding" href="{path='invoice/index'}">Sales<br/> Encoding</a> <!-- INVOICE -->
                </div>
                <div class="big">
                    <a class="tab--collection" href="#">Collection / Customer Payment</a>
                </div>
                <div class="big">
                    <a class="tab--payable" href="#">Accounts Payable</a>
                </div>
                <div class="big">
                    <a class="tab--reports" href="#">Reports</a>
                </div>
            </nav>
            
        </div>
        
        <div class="clear"></div>
        </div> <!-- container -->
	
        </header>
        
        <div xclass="container">
            <div class="container-inner">