{embed ='site/header'}

<script src="{path='site/script'}"></script>

<div ng-app="home">
	<div class="row" ng-controller="homeController as hc">
		
		<div class="span6">
			{{hc.row1}}
			<?php echo "<br>IPv4: ". getHostByName(php_uname('n')); ?>
		</div>
		
		<div class="span6">
			{{hc.row2}} <br>
			<button onclick="test()">Click me</button>
		</div>
	</div>
</div>

<script>
	function test(){
		window.open("{path='site/test'}", "", "top=100, height=600, width=800");
	}
</script>

{embed ='site/footer'}