$mainFont: Verdana;

$baseColor: #303d3f;
$secondaryColor: #122736;
$secondaryColor-hover: #344A58;
$lightColor: #efefef;

.clear{
	clear: both;
}

header{
	background: url(custom/img/green_fibers.png) repeat center;
}

html, body{
	margin: 0;
	padding: 0;
	font: 1em $mainFont;
	background: $lightColor url(custom/img/white_carbonfiber.png) repeat center;
}
