body.off-alert header {
  margin-top: 0; }

body.on-alert header {
  margin-top: 59px; }

.alertmsg {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  background: red;
  padding: 10px;
  color: yellow;
  font-weight: bold;
  animation: alertmsg 3s infinite; }
  .alertmsg .fa-exclamation-triangle {
    color: yellow; }

@keyframes alertmsg {
  0% {
    background: #f00; }
  50% {
    background: #600; }
  100% {
    background: #f00; } }
.ui-datepicker-header,
.ui-datepicker-calendar {
  background: white;
  padding: 10px;
  display: block;
  border: 1px solid #303d3f;
  text-align: center; }

.ui-datepicker-header {
  border-width: 1px 1px 0 1px; }

.ui-datepicker-calendar {
  border-width: 0 1px 1px 1px; }

.ui-datepicker-prev {
  float: left; }

.ui-datepicker-next {
  float: right; }

.ui-datepicker-prev, .ui-datepicker-next {
  font-size: 11px; }

.ui-datepicker-title {
  text-align: center; }

.ui-state-highlight {
  background: #ccc;
  padding: 3px;
  border-radius: 5px;
  color: white; }

.WysiHat-editor {
  font-family: "Verdana";
  font-size: 1.2em !important;
  font-weight: 100; }

.container-inner {
  background: white;
  padding: 10px 0; }

.pagetitle {
  font-size: 2em;
  color: #122736;
  border-bottom: 3px solid #122736;
  margin-bottom: 50px;
  padding-bottom: 10px; }

.cellpad {
  padding: 5px; }

.clear {
  clear: both; }

.error {
  background-color: #fcc !important; }

a:active, a:focus {
  text-decoration: none;
  color: #303d3f; }

.btn {
  margin-bottom: 10px; }

small {
  font-size: .7em;
  font-style: italic; }

input[type=radio] {
  margin-top: 0; }

.floatRight {
  float: right; }

.floatLeft {
  float: left; }

.ta--right, .alignRight, .inputRight input {
  text-align: right !important; }

.ta--left, .alignLeft, .inputLeft input {
  text-align: left !important; }

.alignCenter {
  text-align: center; }

.widthBig {
  width: 300px;
  min-width: 300px; }

.widthMedium {
  width: 150px;
  min-width: 150px; }

.widthSmall {
  width: 100px;
  min-width: 100px; }

.widthTiny {
  width: 50px;
  min-width: 50px; }

.fontWeightBold {
  font-weight: bold; }

.btn-new {
  margin-bottom: 10px;
  float: right;
  font-weight: bold; }
  .btn-new a {
    color: #122736; }
  .btn-new a:hover {
    text-decoration: none; }

label {
  display: inline-block;
  width: 180px;
  vertical-align: middle; }

html, body {
  margin: 0;
  padding: 0;
  font: 1em "Verdana";
  background: #efefef url(custom/img/white_carbonfiber.png) repeat center; }

header {
  width: 1000px;
  padding: 10px; }
  header #sitelogo {
    float: left;
    width: 20%;
    margin-right: 10px; }
  header nav .big, header nav .small {
    float: left;
    margin-right: 2px;
    margin-bottom: 2px;
    width: 12%;
    display: table; }
  header nav .big a, header nav .small a {
    display: table-cell;
    vertical-align: middle; }
  header nav .big {
    text-align: center;
    height: 100px;
    background: #fff; }
  header nav .small {
    text-align: center; }
  header nav .small a {
    width: 100%;
    height: 44px;
    background: #fff;
    display: inline-block;
    padding-top: 5px; }
  header nav .small a:first-child {
    margin-bottom: 2px; }

footer {
  margin: 10px auto; }
  footer .footer--text {
    text-align: center; }

table.tbl_display {
  clear: both;
  width: 100%;
  overflow: auto;
  background: white;
  border-color: #efefef; }
  table.tbl_display input[type=checkbox] {
    float: none;
    margin: 0; }
  table.tbl_display thead th {
    padding: 10px;
    border-color: #efefef; }
  table.tbl_display thead th.checkbox {
    width: 30px; }
  table.tbl_display thead th.product_name {
    width: 180px; }
  table.tbl_display tbody tr td {
    padding: 5px;
    text-align: center;
    border-color: #efefef; }
    table.tbl_display tbody tr td .remove-icon {
      font-size: 1.2em !important;
      color: red; }
  table.tbl_display tbody tr td.checkbox {
    width: 30px; }
  table.tbl_display tbody tr td.product_name {
    text-align: left;
    width: 400px; }
  table.tbl_display tbody tr:hover {
    background: #efefef; }
  table.tbl_display tfoot.note td {
    padding: 5px;
    font-size: .9em;
    text-align: right;
    padding-left: 10px;
    color: brown; }

section label, section input, section table {
  font-size: 1em !important; }

section label {
  float: left;
  margin-right: 10px;
  margin-top: 5px;
  text-align: right;
  line-height: 13px; }

#CriticalLevel tr {
  cursor: pointer; }

/*# sourceMappingURL=style.css.map */
