$mainFont: "Verdana";

$baseColor: #303d3f;
$secondaryColor: #122736;
$secondaryColor-hover: #344A58;
$lightColor: #efefef;

$minWidth: 1024px;
$headFootWidth: 96%;

body.off-alert header{
	margin-top: 0;
}
body.on-alert header{
	margin-top: 59px;
}
.alertmsg{
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 999;

	background: red;
	padding: 10px;
	color: yellow;
	font-weight: bold;
	animation: alertmsg 3s infinite;

	.fa-exclamation-triangle{
		color: yellow;
	}
}
	@keyframes alertmsg{
		0%{ background: #f00; }
		// 25%{ background: #900; }
		50%{ background: #600; }
		// 75%{ background: #900; }
		100%{ background: #f00; }
	}

//DEFAULT EE DATEPICKER
.ui-datepicker{
	// background: white;
	// border: 1px solid black;
	// padding: 10px;
	// font-size: .9em;
}
.ui-datepicker-header,
.ui-datepicker-calendar{
	background: white;
	padding: 10px;
	display: block;
	border: 1px solid $baseColor;
	text-align: center;
}
.ui-datepicker-header{
	border-width: 1px 1px 0 1px;
}
.ui-datepicker-calendar{
	border-width: 0 1px 1px 1px;
}
.ui-datepicker-prev{ float: left; }
.ui-datepicker-next{ float: right; }
.ui-datepicker-prev, .ui-datepicker-next{
	font-size: 11px;
}
.ui-datepicker-title{
	text-align: center;
}
.ui-state-highlight{
	background: #ccc;
	padding: 3px;
	border-radius: 5px;
	color: white;
}
//****************************************DEFAULT EE DATEPICKER
.WysiHat-editor{
	font-family: $mainFont;
	font-size: 1.2em !important;	
	font-weight: 100;
}


.container-inner{
	background: #fff;
	padding: 10px;
	width: $headFootWidth - 1;
	margin: 0 auto;
}
.pagetitle{
	font-size: 2em;
	color: $secondaryColor;
	border-bottom: 3px solid $secondaryColor;
	margin-bottom: 50px;
	padding-bottom: 10px;
}
.cellpad{
	padding: 5px;
}
.clear{
	clear: both
}
.error{
	background-color: #fcc !important;
}
a:active, a:focus{
	text-decoration: none;
	color: $baseColor;
}
.btn{
	margin-bottom: 10px;
}
small{
	font-size: .7em;
	font-style: italic;
}
input[type=radio]{
	margin-top: 0;
}
.floatRight{
	float: right;
}
.floatLeft{
	float: left;
}
.ta--right, .alignRight, .inputRight input{
	text-align: right !important;
}
.ta--left, .alignLeft, .inputLeft input{
	text-align: left !important;
}
.alignCenter{
	text-align: center;
}
.widthBig{
	width: 300px;
	min-width: 300px;
}
.widthMedium{
	width: 150px;
	min-width: 150px;
}
.widthSmall{
	width: 100px;
	min-width: 100px;
}
.widthTiny{
	width: 50px;
	min-width: 50px;
}
.fontWeightBold{
	font-weight: bold;
}

.btn-new{
	margin-bottom: 10px;
	float: right;
	font-weight: bold;

	a{
		color: $secondaryColor;
	}
	a:hover{
		text-decoration: none;
	}
}
label{
	display: inline-block;
	width: 180px;
	vertical-align: middle;
}

html, body{
	margin: 0;
	padding: 0;
	font: 1em $mainFont;
	background: $lightColor url(custom/img/white_carbonfiber.png) repeat center;
}
body{
	min-width: 1000px;
}
header{
	min-width: $minWidth;
	width: $headFootWidth;
	margin: 0 auto;
	padding: 10px;

	#sitelogo{
		float: left;
		width: 190px;
		margin-right: 10px;
	}
	nav{
		.big, .small{
			float: left;
			margin-right: 2px;
			margin-bottom: 2px;
			width: 10.5%;
			display: table;
		}
		.big a, .small a{
			display: table-cell;
			vertical-align: middle;
			font-weight: 900;
		}
		.big{
			text-align: center;
			
			height: 100px;
			background: #fff;
		}
		.small{
			text-align: center;
		}
		.small a{
			width: 100%;
			height: 44px;
			display: inline-block;
			padding-top: 5px;
		}
			.small div:first-child{
				margin-bottom: 2px;
			}

		a{
			color: #fff;
			text-decoration: none;
		}
		a:hover{
			color: #fff;
			text-decoration: none;
			opacity: .7;
		}

		.tab--warehouse{
			background: #333333;
		}
		.tab--po{
			background: #de0d2e;
		}
		.tab--stocks{
			background: #003300;
		}
		.tab--encoding{
			background: #690011;
		}
		.tab--price_code{
			background: #00473B;
		}
		.tab--collection{
			background: #492100;
		}
		.tab--salesman{
			background: #040C32;
		}
		.tab--supplier{
			background: #09154c;
		}
			.tab--salesman, .tab--supplier{
				line-height: 40px;
			}
		.tab--reports{
			background: #209009;
		}
		.tab--customer{
			background: #7356CF;
		}

	}//nav
}//header

footer{
	width: $headFootWidth;
	margin: 10px auto;

	.footer--text{
		text-align: center;
	}
}//footer

//*********************
table.tbl_display{
	clear: both;
	width: 100%;
	overflow: auto;
	background: white;
	border-color: $lightColor;

	input[type=checkbox]{
		float: none;
		margin: 0;
	}

	thead{
		th{
			padding: 10px;
			border-color: $lightColor;
		}
		th.checkbox{
			width: 30px;
		}
		th.product_name{
			width: 180px;
		}
	}//thead

	tbody{
		tr{
			td{
				padding: 5px;
				text-align: center;
				border-color: $lightColor;

				.remove-icon{
					font-size: 1.2em !important;
					color: red;
				}
			}
			td.checkbox{
				width: 30px;
			}
			td.product_name{
				text-align: left;
				width: 400px;
			}
		}
		tr:hover{
			background: $lightColor;
		}
	}
	tfoot.note{
		td{
			padding: 5px;
			font-size: .9em;
			text-align: right;
			padding-left: 10px;
			color: brown;
		}	
	}
}//table
section label, section input, section table{
	font-size: 1em !important;
}
section label{
	float: left;
	margin-right: 10px;
	margin-top: 5px;
	text-align: right;
	line-height: 13px;
}
section .multiselect label{
	float: none;
	text-align: left;
}

#CriticalLevel tr{
	cursor: pointer;
}

//homepage
.col-wrapper{
	.col{
		float: left;
		margin-right: 10px;

		.col-title{
			font-size: 1.2em;
			border-bottom: 1px solid #ccc;
		}
	}
	.col-3{
		width: 31%;
	}
}
