{embed="site/header" curpage="returns_from_customer"}

{exp:channel:form channel="returns_from_customer" return="{segment_1}"}
	<input type="hidden" name="title">

	<div class="field_po">
		<label for="{label:ret_invoice}">{label:ret_invoice}</label>
		{field:ret_invoice}
	</div>

	<div>
		<label for="{label:rc_returned_items}">{label:rc_returned_items}</label>
		{field:rc_returned_items}
	</div>
<br>
	<input type="submit" value="Submit" class="btn btn-danger">	
{/exp:channel:form}

<script>
	$('.field_po select').on("change", function(){
		po = $(".field_po select :selected").text();

		$('input[name="title"]').attr('value', 'RC-'+po);
	});
</script>

{embed="site/footer"}